@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  background-color: #f5f5f7;
  /* margin: 20px 20px; */
  font-family: "Inter", sans-serif;
}

.wallpaper img {
  border-radius: 20px;
}

.profile-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-picture img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-social {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-social :hover {
  background-color: rgb(251, 203, 145);
  border-radius: 30px;
}

i {
  margin-right: 10px;
}

.profile {
  padding: 20px;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-around;
  background-color: #6e6e73;
  color: #f5f5f7;
  text-transform: uppercase;
}

.menu :hover {
  background-color: rgb(247, 155, 155);
  border-radius: 30px;
}

.menu a {
  color: #f5f5f7;
  text-decoration: none;
  padding: 5px;
}

.projects .card {
  height: 170px;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
  transition: background-color 0.3s ease;
}
.projects .card:hover {
  background-color: #f9cea7;
  p {
    color: #f5f5f7;
  }
  a {
    background-color: blue;
    color: white;
    border: none;
  }
}

.projects .card p {
  width: 200px;
  text-align: center;
  font-weight: bold;
  color: black;
}

.projects .card a {
  padding: 10px;
  border-radius: 20px;
  color: black;
  text-decoration: none;
  border: 1px solid;
}

.projects {
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.education a {
  text-decoration: none;
  color: blue;
}
.ru-logo img {
  width: 100px;
  height: 160px;
  object-fit: cover;
}

.ru-logo {
  display: flex;
  gap: 30px;
  margin-left: 50px;
}

.ruce:hover {
  background-color: #f9cea7;
  border-radius: 30px;
  h3 {
    color: #2c1702;
  }
  h5 {
    color: #2c1702;
  }
}

.snjc_logo img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.snjc_logo {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 20px;
}
.snjc :hover {
  background-color: #f9cea7;
  border-radius: 30px;
  h3 {
    color: #2c1702;
  }
  h5 {
    color: #2c1702;
  }
}

.snhs_logo img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.snhs_logo {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
margin-top: 20px;

}

.snhs :hover {
  background-color: #f9cea7;
  border-radius: 30px;
  h3 {
    color: #2c1702;
  }
  h5 {
    color: #2c1702;
  }
}

/* card */
.skills {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 150px;
  height: 150px;
  perspective: 1000px; /* Adds depth */
  margin-top: 30px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d; /* Ensures child elements are rendered in 3D */
}

.card:hover .card-inner {
  transform: rotateX(180deg); /* Flips the card on hover */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hides the back side when flipped */
  border-radius: 30px;
}

.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff; /* Change as needed */
  color: white;
  transform: rotateX(180deg); /* Initially hide the back */
}

.experience {
  display: flex;
  justify-content: center;
  background-color: #4e9495;
  color: #d5d5d5;
  text-transform: uppercase;
  width: 250px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

.Achievements {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  row-gap: 30px;
}

.Achievements :hover {
  background-color: #f9cea7;
  border-radius: 30px;
  h2 {
    color: #f5f5f7;
  }
  h4 {
    color: #f5f5f7;
  }
  p {
    color: #f5f5f7;
  }
  a {
    background-color: blue;
    color: white;
    border: none;
  }
}

.Achievements a {
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  border: 1px solid;
}
